*{
    margin: 0px;
    padding: 0px;
}
main{
    display:  flex;
}

.employee{
    width: 25%;
    height: 100vh;
    overflow: auto;
    background-color: whitesmoke;
}
#map {
    height: 100vh;
    width : 75%;
}

.employee .heading{
    background-color:lightcoral;
    color: floralwhite;
}

.employee .heading h2{
    padding: 1rem;
}

::-webkit-scrollbar{
    width :3px;
    height: 3px;
    border-left: 0;
    background-color: rgba(0,0,0,.1);
}
::-webkit-scrollbar-thumb{
    background-color: lightcoral;
    border-radius: 0px;
}

.employee ul.list{
    padding: 0 1rem;
    list-style: none;
}

.employee .empName{
    margin: 1rem 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 1rem;
}